.cart{
    position: relative;
    top: 50px;
    bottom: 50px;
    width: 100%;
    height: max-content;
}

.cart_item_shop_clear{
    width: 120px;
    border: none;
    border-radius: 5px;
    padding: 8px ;    
    background-color: rgb(127, 233, 35);
}

.cart_main{
    width: 100%;
    display: flex;
    justify-content: space-between
}

.cart_items{
    min-height: 100px;
    width: 75% ;
}

.cart_item{
    padding-top: 10px;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid;
    height: 200px;
    display: flex;
justify-content: space-between;
}

.cart_item_img{
    margin-left: 20px;
    width: 150px;
    height: 180px;
}

.cart_item_price{
    margin-left: 10px;
    margin-top: 150px;
    color: yellowgreen;
    font-size: 20px;
}

.cart_item_info{
    width: 60%;
    margin: 10px 30px;
}

.cart_item_shop{
    justify-content: center;
    align-items: center;
    line-height: 20px;
    height: 100px;
    width: 280px;
}

.cart_item_shop_crements{
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    display: flex;
    justify-content: space-around;
}


.cart_item_shop_crement{
    padding-top: 0px;
    width: 20px;
    height: 20px;
}

.cart_item_shop_remove{
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: red;
    padding: 8px ;
}

.total{
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid;
    background-color: beige;
    height: 180px;
    line-height: 50px;
    width: 22%;
}

.total_title{

    font-size: 28px;
}

.total_buy{
    border: 1px solid var(--dark);
    border-radius: 5px;
    margin-top: 20px;
    height: 30px;
    width: 80%;
}